.icon
	display: block
	-webkit-background-size: 100%
	background-size: 100%

/*** 18 * 18 ***/

.icon-home-blue
	width: 18px
	height: 18px
	background: url("../images/icon-home-blue.png") center no-repeat


/*** 12 * 22 ***/

.icon-arrow-left
	width: 12px
	height: 22px
	background: url("../images/icon-arrow-left-white.png") center no-repeat

.icon-arrow-right
	width: 12px
	height: 22px
	background: url("../images/icon-arrow-right-white.png") center no-repeat

/*** 24 * 14 ***/

.icon-arrow-top
	width: 24px
	height: 14px
	background: url("../images/icon-arrow-top-white.png") center no-repeat

.icon-arrow-bottom
	width: 24px
	height: 14px
	background: url("../images/icon-arrow-bottom-white.png") center no-repeat

.icon-arrow-left
	width: 14px
	height: 24px
	background: url("../images/icon-arrow-left-white.png") center no-repeat

.icon-arrow-right
	width: 14px
	height: 24px
	background: url("../images/icon-arrow-right-white.png") center no-repeat

/*** 27 * 27 ***/

.icon-cart-blue
	width: 27px
	height: 27px
	background: url("../images/icon-cart-arrow-blue.png") center no-repeat

.icon-cart-white
	width: 27px
	height: 27px
	background: url("../images/icon-cart-arrow-white.png") center no-repeat

.icon-info-blue
	width: 27px
	height: 27px
	background: url("../images/icon-info-blue.png") center no-repeat

.icon-info-white
	width: 27px
	height: 27px
	background: url("../images/icon-info-white.png") center no-repeat

.icon-star
	width: 27px
	height: 27px
	background: url("../images/icon-star.png") center no-repeat

.icon-plus
	width: 27px
	height: 27px
	background: url("../images/icon-plus.png") center no-repeat

.icon-minus
	width: 27px
	height: 27px
	background: url("../images/icon-minus.png") center no-repeat

/*** 30 * 20 ***/
.icon-arrow-exit
	width: 30px
	height: 20px
	background: url("../images/icon-arrow-exit.png") center no-repeat

/*** 30 * 30 ***/

.icon-search
	width: 30px
	height: 30px
	background: url("../images/icon-search.png") center no-repeat


/*** 41 * 41 ***/

.icon-compare-grey
	width: 41px
	height: 41px
	background: url("../images/icon-compare-grey.png") center no-repeat

.icon-compare-blue
	width: 41px
	height: 41px
	background: url("../images/icon-compare-blue.png") center no-repeat



/*** 50 * 50 ***/

.icon-cart
	background: url("../images/icon-cart.png") center no-repeat
	width: 50px
	height: 50px

.icon-man
	background: url("../images/icon-man.png") center no-repeat
	width: 50px
	height: 50px

.icon-woman
	background: url("../images/icon-woman.png") center no-repeat
	width: 51px
	height: 50px

.icon-unisex
	background: url("../images/icon-question.png") center no-repeat
	width: 50px
	height: 50px

.icon-lock
	background: url("../images/icon-lock.png") center no-repeat
	width: 50px
	height: 50px

.icon-unlock
	background: url("../images/icon-unlock.png") center no-repeat
	width: 50px
	height: 50px

.icon-gear
	background: url("../images/icon-gear.png") center no-repeat
	width: 50px
	height: 50px