.icon
	display: block
	-webkit-background-size: 100%
	background-size: 100%


.icon-cart
	background: url("../images/icon-cart.png") center no-repeat
	width: 50px
	height: 50px

.icon-man
	background: url("../images/icon-man.png") center no-repeat
	width: 50px
	height: 50px

.icon-woman
	background: url("../images/icon-woman.png") center no-repeat
	width: 51px
	height: 50px

.icon-unisex
	background: url("../images/icon-question.png") center no-repeat
	width: 50px
	height: 50px

.icon-lock
	background: url("../images/icon-lock.png") center no-repeat
	width: 50px
	height: 50px

.icon-unlock
	background: url("../images/icon-unlock.png") center no-repeat
	width: 50px
	height: 50px

.icon-gear
	background: url("../images/icon-gear.png") center no-repeat
	width: 50px
	height: 50px

.icon-search
	background: url("../images/icon-search.png") center no-repeat
	width: 30px
	height: 30px