@import "bourbon"
@import "vars"

@media screen and (max-width: 1024px) //1024
	.wrapper
		.container-big
			width: 100%


@media screen and (max-width: $tablet) //992
	.header .header__cart
		position: relative
		right: 0
		top: 0
		z-index: 2

	.header .cart input[type=text], .slider img
		width: 100%

	.inform-black .inform a
		font-size: 12px

	.product .head h5, .overlay h5
		font-size: 13px

	.overlay .td a
		font-size: 10px

	.product .price-box .price p
		font-size: 14px

	.companies, .footer__contacts ul
		overflow: hidden
		display: inline-block

	.footer .footer__body .footer__contacts
		text-align: center



@media screen and (max-width: $phone) //768
	.navbar-default .navbar-toggle
		float: left
		margin-left: 30px

	.navbar-nav li a
		font-size: 20px

	.navbar-nav
		display: none

	.in .navbar-nav
		display: block

	.navbar-nav a.active
		background: $blue
		color: #fff!important

	.inform .inform__list li
		float: none

	.inform .inform__list li a
		border-right: none

	.prod h3
		text-align: center
		margin: 15px 0

	.inform-black .inform a
		font-size: 16px

	.product .head h2, .product .img-box, .product .head h5
		text-align: center
		position: relative

	.footer .footer__body .companies li
		float: none
		display: inline-block

	.footer .footer__body .companies
		display: none



@media screen and (max-width: 600px)
	.footer .footer__menu-soc
		float: left

@media screen and (max-width: $extra-small) //iPhone6
	h1
		font-size: 23px

	.inform, .slider-wrap, .slider
		display: none

	.pager-wrap p
		display: none


@media screen and (max-width: 325px) //iPhone5
	.nav
		display: none
