@import "bourbon"
@import "vars"

@media screen and (max-width: 1280px)
	table tr td:nth-child(2),
	table tr td:nth-child(3)
		overflow-wrap: break-word
		word-wrap: break-word
		word-break: break-all
		line-break: strict
		-webkit-hyphens: auto
		-ms-hyphens: auto
		hyphens: auto


@media screen and (max-width: 1024px) //1024
	.wrapper
		.container-big
			width: 100%


@media screen and (max-width: $tablet) //992
	.header .header__cart
		position: relative
		right: 0
		top: 0
		z-index: 2

	.header .cart input[type=text], .slider img
		width: 100%

	.inform-black .inform a
		font-size: 12px

	.product .head h5, .overlay h5
		font-size: 13px

	.overlay .td a
		font-size: 10px

	.product .price-box .price p
		font-size: 14px

	.companies, .footer__contacts ul
		overflow: hidden
		display: inline-block

	.footer .footer__body .footer__contacts
		text-align: center

	.search .black .head h2
		font-size: 25px

	.search .black .head h2 span
		font-size: 23px

	.product-suggest .product__item .img-box img
		text-align: center
		width: 100%

	.slides_container
		background: #fff

	.slides_control a
		margin-left: 90px!important

	.compare
		.product__item
			padding-left: 10px
			padding-right: 10px
			.price-box
				margin-left: -10px
				margin-right: -10px
				padding: 10px 10px 11px 10px

	.filter__block li
		padding: 10px 25px
		font-size: 14px

	.admin-form input, .admin-form select,
	.admin-form .admin-form__register input, .admin-form .admin-form__register select
		width: 200px

	.admin-form .form__body
		padding: 30px 5px 30px 10px

	.admin-form .admin-form__register .tr .td:first-child
		width: 120px

	.admin-form .admin-form__register #PLZ,
	.admin-form .admin-form__register #Ort
		float: none
		margin-right: 0
		width: 200px

	.admin-form .admin-form__register #Ort
		margin-left: 0

@media screen and (max-width: $phone) //768
	.navbar-default .navbar-toggle
		float: left
		margin-left: 30px

	.navbar-nav li a
		font-size: 20px

	.navbar-nav
		display: none

	.in .navbar-nav
		display: block

	.navbar-nav a.active
		background: $blue
		color: #fff!important

	.inform .inform__list li
		float: none

	.inform .inform__list li a
		border-right: none

	.prod h3
		text-align: center
		margin: 15px 0

	.inform-black .inform a
		font-size: 16px

	.product .head h2, .product .img-box, .product .head h5
		text-align: center
		position: relative

	.footer .footer__body .companies li
		float: none
		display: inline-block

	.footer .footer__body .companies
		display: none

	.black .head h2
		padding-top: 20px

	#top
		display: none!important

	.product-cart h3.overflow
		height: auto
		padding-bottom: 10px

	.product-cart p.overflow
		height: auto
		padding-bottom: 20px

	.navbar .row
		margin-right: 0
		margin-left: 0

	.compare__img
		text-align: center
		margin-bottom: 17px

	table tr td:last-child
		-webkit-hyphens: auto
		-ms-hyphens: auto
		hyphens: auto
		overflow-wrap: normal
		word-wrap: normal
		word-break: normal
		line-break: normal

	.admin-form .admin-form__register #PLZ
		margin-right: 15px

	.admin-form .admin-form__register #Ort
		margin-left: 15px


@media screen and (max-width: 600px)
	.footer .footer__menu-soc
		float: left

	.slides_control a
		margin-left: 0!important

	.product-description table tr td:first-child, .product-description tbody tr td:first-child
		width: auto
		display: block

	.product-description table tr td, .product-description tbody tr td
		padding: 10px 0px 10px 10px
		display: block

@media screen and (max-width: $extra-small) //iPhone6
	.header__logo img
		width: 100%

	h1
		font-size: 23px

	.inform, .slider-wrap, .slider
		display: none

	.pager-wrap p
		display: none

	.product .product__item .img-box img
		text-align: center
		width: 100%

	.slides-wrap #slides img
		width: 80%

	.slides-wrap .slides_container
		height: 400px !important

	.admin-form .admin-form__register #PLZ
		margin-right: 0px

	.admin-form .admin-form__register #Ort
		margin-left: 0px



@media screen and (max-width: 325px) //iPhone5
	.nav
		display: none

	.cart__icon .icon
		width: 40px
		height: 40px
		background-size: 100%

	.cart__icon .icon-lock
		width: 40px
		height: 52px

	.product-cart .bottom
		padding: 6px 30px 4px 30px

	.slides_control a
		width: 50%

	.slides-wrap .slides_container
		height: 270px !important

	.slides-wrap
		margin-bottom: 25px
