@import "bourbon"

//color




//font
$r-black: 'Roboto-Black', sans-serif
$r-bold: 'Roboto-Bold', sans-serif
$r-regular: 'Roboto-Regular', sans-serif
$r-light: 'Roboto-Light', sans-serif


//viewport size
$desktop: "1281px"
$tablet: "992px"
$phone: "768px"
$extra-small: "450px"