@import "bourbon"
@import "vars"
@import "base"
@import "../libs/font-awesome/scss/font-awesome"
@import "mixins"
@import "icons"

body
	background-color: $body
	
.container
	//outline: 1px solid black


.header
	.header__logo
		margin: 25px 16px

	.header__cart
		position: absolute
		right: 10px
		top: 0
		z-index: 10
		+gradient($top-black-gradient, $bot-black-gradient)
		padding: 20px 12px 12px 12px
		max-height: 206px

	.cart
		overflow: hidden
		vertical-align: top

		input[type=text]
			width: 275px
			padding: 5px 10px
			text-overflow: ellipsis
			border-radius: 5px
			border: none
			float: left

		button
			border: none
			background: #ffffff
			margin-left: -35px
			border-radius: 5px
			float: left
			margin-top: 1px

	.cart__icon
		display: table-cell
		padding-right: 18px

	.cart__menu
		display: table-cell
		vertical-align: top
		h3
			font-family: $r-regular
			color: #fff
			margin-bottom: 10px
		ul
			margin-bottom: 40px
		li a
			font-size: 12px
			line-height: 20px
			&:hover
				font-family: $r-black
				color: #fff

.navbar-default
	+grey-gradient($top-grey-gradient, $bot-grey-gradient)

.navbar
	-webkit-border-radius: 0
	-moz-border-radius: 0
	border-radius: 0
	border: none
	margin-bottom: 0
	min-height: 45px

.navbar-nav > li > a
	padding-top: 13px
	padding-bottom: 12px

.navbar-nav
	padding-left: 12px
	a
		color: $dark-grey
	a.active
		font-family: $r-bold

.inform
	background-color: $blue
	padding: 5px 0 5px 0
	color: #fff
	.inform__list
		overflow: hidden
		ul, p
			padding-left: 12px
		li
			float: left
			padding-right: 10px
			a
				border-right: 1px solid #fff
				padding-right: 10px
				&:hover
					text-decoration: underline
		li:last-child
			a
				border-right: none


.slider
	position: relative
	margin-top: 10px

	.slider__caption
		background: rgba(242,242,242,.7)
		position: absolute
		bottom: 0
		width: 100%
		overflow: hidden
		padding: 15px 0 12px 12px
		h3
			color: $blue
			float: left
		ul
			float: right
			li
				float: left
		a
			display: block
			margin-right: 19px

.owl-theme .owl-controls
	margin-top: 0
	position: absolute
	text-align: center
	right: 7px
	top: 20px

.owl-theme .owl-controls .owl-page
	display: block
	opacity: 1
	
.owl-theme .owl-controls .owl-page.active span
	background: $blue

.owl-theme .owl-controls .owl-page span
	width: 38px
	height: 6px
	border: 1px solid $blue
	background: #fff
	border-radius: 0
	margin: 0 0 2px 0

.prod
	position: relative
	background: $grey
	overflow: hidden
	padding: 2px 10px
	margin-top: 10px

	img
		width: 100%

.prod__caption
	margin-top: -14px
	background: $blue
	width: 100%
	text-align: center
	position: relative
	z-index: 2
	a
		padding: 3px 0
		display: block
		margin: 0 auto
		.icon-info-white
			width: 100%

.inform-black
	.inform
		+gradient($top-black-gradient, $bot-black-gradient)
		margin: 15px 0

		a
			font-size: 15px
			padding-right: 5px
			&:hover
				font-family: $r-bold

	.inform__list li
		padding: 5px 0 5px 5px


.product

	.product__item
		+grey-gradient($top-grey-gradient, $bot-grey-gradient)
		padding: 8px 10px 5px 10px
		position: relative
		margin-bottom: 15px
		min-height: 216px

	.head
		position: relative
		margin-bottom: 10px

		h2
			line-height: 36px
			a
				color: #000
				&:hover
					color: $blue
		h5
			color: $dark-grey
			font-family: $r-light
			position: absolute


	.img-box
		text-align: right

	.price-box
		background: $blue
		color: #fff
		margin: 0 -10px -5px -10px
		overflow: hidden
		padding: 7px 12px 7px 12px

		.price
			float: left
			p
				font-family: $r-black
				font-size: 16px
				line-height: 21px

		.description
			float: right
			padding-top: 2px
			p
				font-family: $r-regular
				font-size: 10px
				line-height: 9px
			a
				text-decoration: underline

	.overlay
		display: none
		background: $blue
		margin: 0 -10px
		position: absolute
		width: 100%
		height: 143px
		top: 41px
		padding: 3px 11px
		border-bottom: 1px solid #fff

		.head
			margin-bottom: 5px
			h5
				position: relative
				color: #fff

		.to-cart
			display: table
			margin: 0 auto
		.tr
			text-align: left
			margin-bottom: 5px

		.tr .td:first-child
			padding-right: 12px
		.td
			display: table-cell
			vertical-align: middle
			text-transform: uppercase
			text-align: left
			letter-spacing: 1px
			color: #fff

		a:hover
			text-decoration: underline
			cursor: pointer
			color: #fff


.product-suggest
	.product__item
		+gradient($top-black-gradient, $bot-black-gradient)
		.head
			h2 a
				color: #fff!important
			h5
				color: #fff

		.price-desc
			font-family: $r-regular
			font-size: 10px

.pager-wrap
	+gradient($top-black-gradient, $bot-black-gradient)
	padding: 0 10px
	overflow: hidden
	margin-bottom: 13px
	i
		float: left
	p
		color: #fff
		display: inline-block
		margin-left: 10px
		padding-top: 12px
		float: left

.pager
	float: right
	padding-top: 10px
	ul
		text-align: right
		overflow: hidden
	li
		float: left
		width: 23px
		height: 23px
		text-align: center

	li:hover, li.active
		border: 1px solid #fff
		border-radius: 50%
		cursor: pointer

	li.arr:hover
		border: none

	a
		display: inline-block

.footer
	.footer__head
		+gradient($top-black-gradient, $bot-black-gradient)
		overflow: hidden
		padding: 7px 0

		.head__left
			float: left
			padding-left: 10px

		.head__right
			float: right
			padding-right: 10px

	h5, a
		color: #fff

	.footer__body
		+gradient($top-grey-gradient, $bot-grey-gradient)
		padding-bottom: 26px

		.companies
			padding-top: 17px
			li
				float: left
				margin-right: 15px
				position: relative

			ul li:last-child
				margin-right: 0

			.popover
				display: none
				position: absolute
				top: -90px
				left: -60px
				width: 220px
				background: #f5f5f5
				padding: 3px 6px
				border: 1px solid $dark-grey
				&:after
					content: ''
					position: absolute
					bottom: -20px
					left: 100px
					border: 6px solid transparent
					border-top: 15px solid #f5f5f5

				p
					color: $dark-grey
					font-size: 12px

				b
					font-family: $r-bold

		.footer__contacts
			padding-top: 8px
			text-align: right

			p
				color: $dark-grey
				font-size: 12px
				margin-bottom: 8px

				span
					font-family: $r-thin
					font-size: 28px
					color: $blue

			ul li
				float: left
				margin-right: 33px
				text-align: right

			ul li:last-child
				margin-right: 0

	.footer__copy
		background: $footer-grey
		text-align: center
		overflow: hidden
		padding: 10px 0 15px
		p
			margin-bottom: 13px
		p, a
			font-family: $r-regular
			font-size: 10px
			line-height: 12px
			color: $dark-grey
		ul
			display: inline-block
		li
			float: left
			padding-left: 4px
			font-size: 10px
			line-height: 9px
			a
				padding-right: 4px
				border-right: 1px solid $dark-grey
				&:hover
					text-decoration: underline
		li:last-child a
				padding-right: 0px
				border-right: none

.products-head
	padding: 7px 5px 7px 20px
	overflow: hidden

	p
		color: #fff
		display: inline-block
		float: left

	b
		font-family: $r-black

	.buttons
		float: right
		color: #fff
		overflow: hidden
		span
			padding: 0 13px
			float: left
		i
			float: left
			margin: 3px 3px 0 0



.search
	.black
		+gradient($top-black-gradient, $bot-black-gradient)
		margin: -10px -10px 0 -10px
		//padding: 9px
		display: block
		.head
			color: #fff
			text-align: center
			padding-bottom: 38px
			h2
				text-transform: uppercase
				span
					font-size: 30px
			h5
				text-align: center
				position: relative
				font-size: $r-regular
				color: #fff
		form
			text-align: center
			padding: 0 10px 15px 10px
		input
			width: 100%
			margin: 0 auto
			text-overflow: ellipsis
			padding: 4px 10px
			border-radius: 5px
			border: none
		.price-box
			margin: 0
			a
				display: block
				text-align: center
				&:hover
					text-decoration: underline
			i
				margin: 0 auto

.tags
	overflow: hidden
	margin-bottom: 18px
	p
		font-size: 15px
		line-height: 26px
		float: left
		margin-right: 7px
		color: $dark-grey
		font-family: $r-regular
	a
		color: $dark-grey
		&:hover
			text-decoration: underline

.page-banner
	+gradient(#F5F5F5, #C5C6C9)
	padding: 10px
	img
		width: 100%

	.page-content-head
		+gradient($top-black-gradient, $bot-black-gradient)
		color: #fff
		padding: 7px 0 7px 20px
		margin: 10px 0

	.page-content
		h3
			text-align: center
			font-size: 21px
			color: red
			padding: 21px 0 23px 0

		.bg
			display: block
			background: #fff
			padding: 6px 10px
			margin-bottom: 20px

		img
			margin: 0 auto
			display: block
			margin-bottom: 10px
			width: auto


.breadcrumbs
	padding: 10px 0

	ul
		overflow: hidden
		li
			float: left
			padding-right: 7px
			&:before
				content: "»"
				margin-right: 7px
				color: $blue

		li:first-child:before
			content: ""
			margin: 0

		a
			font-size: 12px
			color: $blue
			&:hover
				text-decoration: underline
		.active
			font-family: $r-bold


.product-cart
	h1
		margin: 0
		color: #000
	h3.overflow
		display: block
		height: 90px
		font-size: 22px
		font-family: $r-regular
		color: $dark-grey
		overflow: hidden
	p
		font-family: $r-light
		font-size: 14px
		line-height: 17px
		color: $dark-grey

	p.overflow
		overflow: hidden
		height: 210px
		-moz-hyphens: auto
		-webkit-hyphens: auto
		-ms-hyphens: auto


	.price-block
		h2
			color: $blue
			line-height: 30px
		&>span
			font-size: 10px
			color: $dark-grey

	.bottom
		background: $blue
		color: #fff
		overflow: hidden
		margin-top: 20px
		padding: 6px 60px 4px 30px

		.add-item
			float: left
			i, span
				float: left
			span#items-count
				font-size: 24px
				line-height: 30px
				padding-right: 18px
				padding-left: 18px

			i:hover
				cursor: pointer

		.add-to-cart
			float: right
			button
				overflow: hidden
				border: none
				background: transparent
				text-transform: uppercase
				font-family: $r-light
				font-size: 12px
				line-height: 30px
				i
					float: left
					margin-right: 15px
				&:hover
					color: $grey

.product-description
	.table-head
			background: $blue
			width: 100%
			color: #fff
			padding: 6px 12px
			text-transform: uppercase

	table, tbody
		width: 100%
		tr
			background: $grey
			td
				padding: 10px
			td:first-child
				font-family: $r-bold
				width: 30%
				vertical-align: top
		tr:nth-child(2n)
			background: $light-grey

	
.slides-wrap
	overflow: hidden

	#slides
		margin-top: 13px
		position: relative
		img
			width: 100%

	#slides .next, #slides .prev
		position: absolute   
		top: 50%
		margin-top: -22px
		width: 40px
		height: 65px
		display: block   
		z-index: 101   

	.slides_container  
		width: 100%
		height: 455px!important
		overflow: hidden
		position: relative

	#slides .prev
		left: 5px
	#slides .next  
		right: 5px

	.pagination-wrap
		+gradient($top-black-gradient, $bot-black-gradient)
		overflow: hidden
		position: relative
		z-index: 5
		padding: 8px 9px 2px 9px
		margin: -12px auto 0 auto
		text-align: center

		i:first-child
			cursor: pointer
			float: left
			display: inline-block

		i:last-child
			cursor: pointer
			float: right
			display: inline-block

	.pagination
		display: inline-block
		margin: 0 auto
		overflow: hidden

	.pagination li  
		float: left   
		margin: 0 1px
		list-style:  none
		&.current
			border: 1px solid #fff
			border-radius: 50%
			font-family: $r-bold

	.pagination li a  
		display: block
		font-size: 15px
		line-height: 24px
		width: 23px
		height: 23px
		float: left
		padding-right: 2px
		text-align: center
		overflow: hidden


.compare
	.product__item
		padding-left: 50px
		padding-right: 50px
		.img-box
			text-align: center
		.price-box
			margin-left: -50px
			margin-right: -50px
			padding: 10px 50px 11px 50px

.compare-table
	margin-bottom: 17px
	table
		width: 100%
	tr
		background: $light-grey
		td
			font-family: $r-light
			font-size: 14px
			color: $dark-grey
			padding: 4px 12px 4px 12px

		td:first-child
			width: 33.3%
			font-family: $r-bold

	tr:nth-child(2n)
		background:	$grey

.products-compare .img-box
	padding-top: 6px

.filter
	&__block
		margin-bottom: 27px
		label
			margin: 0
		li
			background: $grey
			margin-bottom: 2px
			padding: 0 5px
			font-family: $r-regular
			font-size: 12px
			&:hover
				color: #fff
				font-family: $r-bold
				background: $blue

				input[type='checkbox'] + label:after
					border: 1px solid #fff
					background: $grey

				input[type='checkbox']:checked + label:after
					background: $blue
					border: 1px solid #fff

	input[type='checkbox']  
		display: none  
		cursor: pointer  
	 
	input[type='checkbox']:focus,
	input[type='checkbox']:active 
		outline: none  
	 
	.checkbox
		cursor: pointer  
		display: inline-block  
		position: relative  
		padding-left: 20px

	.checkbox:before,
	.checkbox:after  
		content: ''  
		display: inline-block  
		width: 9px
		height: 9px
		border: 1px solid $blue
		left: 0
		top: 4px
		text-align: center  
		position: absolute  
	 
	.checkbox:before
		background-color: $grey
		border: 1px solid $blue
		transition: all .3s ease-in-out

	input[type='checkbox']:checked + label:before 
		background: $blue

	.checkbox:hover:after,	input[type='checkbox']:checked + label:after
		position: absolute  
		top: 4px
		right: 0px
		width: 9px
		height: 9px
		background: $blue

	.checkbox:hover:after  
		color: #c7c7c7  
	 
	
	.checkbox:after,
	.checkbox:hover:after  
		color: #10acdc  
	 


.admin-form
	form + a
		color: $dark-grey
		font-size: 15px
		line-height: 25px
		margin: 18px 20px 65px
		display: inline-block
		&:hover
			text-decoration: underline
		i
			float: left
			margin-right: 10px
	input, select
		border-radius: 5px
		border: 1px solid $grey
		margin-bottom: 20px
		padding: 3px 10px
		text-overflow: ellipsis
		width: 275px

	.tr .td
		font-family: $r-regular
		color: $dark-grey

	.tr .td:first-child
		width: 30%

	.form__body
		+gradient(#FBFBFB, #B2B4B7)
		padding: 30px 30px 30px 20px

	.form__submit
		overflow: hidden
		background: $blue
		text-align: center
		padding: 10px 0

		button
			background: transparent
			border: none
			color: #fff
			font-size: 24px
			line-height: 35px
		i
			margin-right: 17px
			width: 27px
			height: 35px
			-webkit-background-size: 100%
			background-size: 100%
			float: left

	.admin-form__register
		margin-bottom: 25px

		.tr .td:first-child
			width: 155px

		input, select
			width: 265px

		label span
			color: $blue
			line-height: 30px

		input.error
			background: #FFCCCC
		
		#PLZ
			float: left
			margin-right: 25px
			width: 98px

		#Ort
			width: 98px
			margin-left: 10px
			& + label
				float: left
				
		.toggle
			opacity: 0 
			max-height: 0 
			overflow: hidden 
			-moz-transition: opacity .3s, max-height .3s 
			-ms-transition: opacity .3s, max-height .3s 
			transition: opacity .3s, max-height .3s 
			display: none

		.expanded
			max-height: 100px
			opacity: 1
			display: block

		input[type='checkbox'],input[type='radio']
			display: none
			cursor: pointer

		input[type='checkbox']:focus,
		input[type='radio']:focus,
		input[type='checkbox']:active,
		input[type='radio']:active
			outline: none

		.checkbox
			cursor: pointer
			display: inline-block
			position: relative
			padding-left: 35px
			padding-bottom: 8px
			margin-right: 13px

		.checkbox:before,
		.checkbox:after
			content: ''
			display: inline-block
			width: 28px
			height: 28px
			left: 0
			top: -4px
			text-align: center
			position: absolute

		.checkbox:before
			background-color: #fff
			transition: all .3s ease-in-out
			border: 1px solid $grey
			border-radius: 5px

		input[type='checkbox']:checked + label:before,
		input[type='radio']:checked + label:before
			border: 1px solid $grey

		input[type='checkbox']:checked + label:after,
		input[type='radio']:checked + label:after
			position: absolute
			top: -4px
			right: 0
			width: 28px
			height: 28px
			background: url("../images/icon-ok-blue.png") center no-repeat

		.checkbox:hover:after
			color: #c7c7c7


		.checkbox:after,
		.checkbox:hover:after
			color: #10acdc

		#subscribe + label,
		#AGB + label
			margin-right: 0
			padding-left: 40px

		#subscribe + label,
		#AGB + label,	#AGB + label span
			line-height: 17px

.trust
	.tr
		display: block
		margin-bottom: 18px
		.td:first-child
			color: $dark-grey
			font-family: $r-regular
			text-align: center
			width: 33%
	.td
		padding-top: 10px
		vertical-align: middle
	.td p
		padding-left: 10px
		font-size: 15px
		font-family: $r-regular
		color: $dark-grey

/*********** admin page **************/
.account-menu-wrap, .orders-wrap
	+gradient(#F5F5F5,#B1B3B6)
	padding-bottom: 17px
	margin-bottom: 70px
	h4
		font-family: $r-regular
		padding-left: 11px
	p
		padding: 19px 10px 0 10px

.inform-admin
	margin: 10px 0 0 0!important

.account-menu
	padding: 10px
	background: $blue
	&__head h5
		color: #fff
		margin-bottom: 13px

	&__item
		margin-bottom: 20px
		margin-left: 30px
		a
			display: block
			text-transform: uppercase
			line-height: 31px
			&:hover
				font-family: $r-bold
		i
			float: left
			margin-right: 15px

.orders
	padding-left: 10px
	padding-right: 10px
	table
		width: 100%

	th
		font-family: $r-bold
		font-size: 15px
		padding: 10px 0 5px 0
	tbody

		tr
			background: #fff
			border: 1px solid $footer-grey

			td
				padding: 18px 11px
				color: $dark-grey
			b
				font-family: $r-bold

.orders-wrap
	.orders__bottom
		overflow: hidden
		padding-top: 25px

	.order__statistics
		float: left
		p
			padding: 0
			color: $dark-grey
		span
			font-family: $r-bold

	.pager
		overflow: hidden
		padding-top: 0
		p
			float: left
			padding: 0 5px 0 0
			color: $dark-grey
		ul
			overflow: hidden
			li
				float: left
				margin-right: 5px
				width: auto
				&:hover
					border: none
					font-family: $r-bold
			.active
				font-family: $r-bold
				border: none
			a
				color: $dark-grey
				font-size: 14px

			li:last-child
				margin-right: 0


.admin-form__address
	margin-bottom: 25px
	form + a
		color: $dark-grey
		font-size: 15px
		line-height: 25px
		margin: 18px 20px 65px
		display: inline-block
		&:hover
			text-decoration: underline
		i
			float: left
			margin-right: 10px

	input, select, textarea
		border-radius: 5px
		border: 1px solid $grey
		margin-bottom: 20px
		padding: 3px 10px
		text-overflow: ellipsis
		width: 275px

	.form__body
		+gradient(#FBFBFB, #C6C7C9)
		padding: 3px 20px 30px 20px
		h4
			margin-bottom: 17px
			font-family: $r-regular
			color: $dark-grey
		p
			color: $dark-grey
			margin-bottom: 20px

		.form__submit
			margin-right: -20px
			margin-left: -20px

	.form__submit
		overflow: hidden
		background: $blue
		text-align: center
		padding: 10px 0

		button
			background: transparent
			border: none
			color: #fff
			font-size: 24px
			line-height: 35px
		i
			margin-right: 17px
			width: 27px
			height: 35px
			-webkit-background-size: 100%
			background-size: 100%
			float: left

	.tr .td:first-child
		width: 155px
		font-family: $r-regular
		color: $dark-grey

	input, select, textarea
		width: 265px

	label span
		color: $blue
		line-height: 30px

	input.error
		background: #FFCCCC

	#PLZ
		float: left
		margin-right: 25px
		width: 98px

	#Ort
		width: 98px
		margin-left: 10px
		& + label
			float: left

	input[type='checkbox'],input[type='radio']
		display: none
		cursor: pointer

	input[type='checkbox']:focus,
	input[type='radio']:focus,
	input[type='checkbox']:active,
	input[type='radio']:active
		outline: none

	.checkbox
		cursor: pointer
		display: inline-block
		position: relative
		padding-left: 35px
		margin-right: 13px

	.checkbox:before,
	.checkbox:after
		content: ''
		display: inline-block
		width: 28px
		height: 28px
		left: 0
		top: -4px
		text-align: center
		position: absolute

	.checkbox:before
		background-color: #fff
		transition: all .3s ease-in-out
		border: 1px solid $grey
		border-radius: 5px

	input[type='checkbox']:checked + label:before,
	input[type='radio']:checked + label:before
		border: 1px solid $grey

	input[type='checkbox']:checked + label:after,
	input[type='radio']:checked + label:after
		position: absolute
		top: -4px
		right: 0
		width: 28px
		height: 28px
		background: url("../images/icon-ok-blue.png") center no-repeat

	.checkbox:hover:after
		color: #c7c7c7


	.checkbox:after,
	.checkbox:hover:after
		color: #10acdc

	#subscribe + label,
	#AGB + label
		margin-right: 0
		padding-left: 40px

	#subscribe + label,
	#AGB + label,	#AGB + label span
		line-height: 17px

.single-radio
	.checkbox
		font-size: 12px
		color: $dark-grey
		padding-left: 45px!important
		span
			font-family: $r-bold

	.checkbox:before,	.checkbox:after
		top: 2px!important

	input[type='checkbox']:checked + label:after,
	input[type='radio']:checked + label:after
		top: 2px!important


.form__submit button
	text-transform: uppercase

.form__submit button[type="button"] i
	margin-right: 10px
	width: 15px

.form__submit button.best i
	margin-right: 5px

.form__submit
	.btn-wrap
		width: 50%
		float: left
		text-align: center
		border-right: 1px solid $grey
	.btn-wrap:last-child
		border-right: 0

.checkbox.address
	width: 100%
	&:before, &:after
		top: 20px

input[type='checkbox']:checked + .checkbox.address:after,
input[type='radio']:checked + .checkbox.address:after
	top: 20px

.label__body
	position: relative
	overflow: hidden
	background: #fff
	border: 1px solid $footer-grey
	padding: 12px 10px
	.info
		float: left
	p
		font-size: 15px
		line-height: 20px
		margin-bottom: 0!important
		overflow: hidden
	b
		font-family: $r-bold

	.action
		float: right
		overflow: hidden
		a
			display: block
			overflow: hidden
			float: left
			margin-top: 3px
		i
			background-size: auto
		.edit
			position: absolute
			right: 60px

		.delete
			position: absolute
			right: 10px

.admin-menu-form label
	margin-bottom: 0
	margin-top: 0

.form__body
	overflow: hidden

.order-info
	overflow: hidden

	&__address
		font-size: 14px
		margin-bottom: 15px
		overflow: hidden
		color: $dark-grey
		.address__item--left
			float: left
		.address__item--right
			float: right

	&__date
		font-size: 14px
		margin-bottom: 20px

	&__goods
		font-size: 14px
		border-bottom: 2px solid $blue
		margin-right: -20px
		margin-left: -20px

		&>p
			padding: 0 20px 0 20px
			margin-bottom: 10px!important

		table
			width: 100%
			color: $dark-grey
			tr
				th
					background: $blue!important
					font-family: $r-regular
					font-size: 14px
					padding: 3px 0 0 20px
					color: #fff!important
			tr
				td
					padding: 3px 0 0 20px

		p
			margin-bottom: 5px

	&__total
		font-size: 14px
		float: right
		margin-top: 20px
		margin-right: -40px
		width: 70%

		.tr
			display: block
			.td
				font-size: 14px
				color: $dark-grey
				&:first-child
					width: 180px
				&:last-child
					text-align: right
					width: 80px
		.red .td
			color: red!important
		.total-sum
			padding: 7px 0
			.td
				font-family: $r-bold!important


	&__status
		font-size: 14px
		margin: 30px -20px 30px -20px

		&>p
			margin-bottom: 10px!important
			padding: 0 20px 0 20px

		table
			width: 100%
			color: $dark-grey
			tr
				th
					background: $blue!important
					font-family: $r-regular
					font-size: 14px
					color: #fff!important
					padding: 3px 0 0 20px
					&:last-child
						text-align: right
						padding-right: 20px
			tr
				td
					padding: 3px 0 0 20px
					&:last-child
						text-align: right
						padding-right: 20px
@import "media"